<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Charmander</title>
    <link rel="shortcut icon" href="../img/charmander.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Quicksand', sans-serif;">
    <h1>Charmander</h1>
    <img style="width: 50%;" src="../img/charmander.png" alt="Charmander">
    <p>tipo: <span style="background-color: orange; border-radius: 5px; padding: 2px;">fuego</span></p>
</body>

</html>